
    
    </div><!-- /.container -->
    
    <!-- 03152020 - Gaurav - Loading icon changes -->
    <script src="/frontend/onload.js"></script> 

    <!-- Bootstrap and its dependencies -->
    <!-- JS, Popper.js, and jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/175b461717.js"></script>
    
    <!-- <p>Trademark YelpCamp 2020</p> -->

    <footer class="footer bg-light">
        <div class="container">
          <span class="text-muted">&#9400; YelpCamp 2020</span>
          <span class="text-muted"> | </span>
          <span class="text-muted"><a href="/campgrounds">Home</a></span>
          <!-- <span class="text-muted"> | </span>
          <span class="text-muted">Copyright &#9400; 2020</span> -->
        </div>
      </footer>
    </body>
</html>