<%- include("./partials/header") %>
<div class="row">
    <div class="col-md-12">
        <div class="card border-0 shadow mb-0 my-2">
            <div class="card-body p-5">
              <h1 class="font-weight-light text-justify">Web app exercises from Colt's Web Development Boot Camp course on Udemy</h1>
              <p class="lead text-justify">The exercises related with this app were good enough to understand the basics in HTML5, CSS, Bootstrap 4, JavaScript, MongoDB, Express, Nodejs, Heroku, GIT and much more npm packages. Many thanks to Colt, who is a natural teacher, and the awesome TAs - Ian and Zarko - who relentlessly try to respond to the student queries and provide solutions. I did some refactoring on my own in these exercises, to try different approach for a solution with regards to an upgrade or an issue.</p>
              <p class="lead">My linkedIn <a href="https://in.linkedin.com/in/gaurav-mendse-90645522">profile</a>.</p>
              <!-- <div style="height: 700px"></div> -->
              <p class="lead mb-0"> - Gaurav</p>
            </div>
          </div>
    </div>
</div>       

<script>
    document.body.className = "bg-secondary";
</script>
<%- include("./partials/footer") %>