<%- include("partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/login" method="POST">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
            <div class="form-label-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="username">Username</label>
            </div>   
            <div class="form-label-group"> 
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <!-- Gaurav-02202020 Remember Me changes - Start -->
            <div class="checkbox mb-3 text-center remember" onmouseover="">
                <label>
                  <input type="checkbox" name="remember" value="remember-me" <%= (rememberMe) ? 'checked' : '' %>> Remember me for a day<span class="rememberCheckBox">*</span>
                </label>
            </div>
            <!-- Remember Me changes - End -->
            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Sign in</button>
            <div>
                <a class="mt-1 mb-1 small float-right" href="/campgrounds">Back to Campground's Page</a>
                <a class="mt-1 mb-1 small float-left" href="/forgot">Forgot Password</a>
            </div>     
            <div class="remember">
              <p class="mt-1 mb-3 small float-left"><span class="rememberCheckBox">*Remain signed-in for 24hrs, to sign-in again later</span></p>
            </div>
        </form>
    </div>    
</div>    

<%- include("partials/footer") %>