<%- include("./partials/header") %>

<div class="row justify-content-md-center">
    <div class="col-10 mx-auto">
        <div class="card">
            <!-- <img class="card-img" src="https://res.cloudinary.com/garyd/image/upload/v1581046645/404-Page-Not-Found-Error_lv6neq.png" alt="404 - PAGE NOT FOUND"> -->
            <img class="card-img" src="images/404-Page-Not-Found-Error.png" alt="404 - PAGE NOT FOUND">
            <div class="card-body">
                <p class="card-text text-center text-light bg-dark">
                    The page you are looking for either does not exist or is moved to some other location.
                </p>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>