<%- include("partials/header") %>

<div class="row justify-content-center overflow-auto">
    <div class="col-md-8">
        <form class="form" action="/register" method="POST" onsubmit="formSubmitted()">

            <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
            <div class="form-label-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="username">Username</label>
            </div>   
            <div class="form-label-group"> 
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
            </div>    
            <div class="form-label-group">
                <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name">
                <label for="firstName">First Name</label>
            </div>
            <div class="form-label-group">
                <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name">
                <label for="lastName">Last Name</label>
            </div>
            <div class="form-label-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="e-mail" required>
                <label for="email">e-mail*</label>
                <p class="small text-muted text-justify font-italic">*Enter a valid e-mail ID to help you recover your password, just in case.</p>
            </div>
            <div class="form-label-group">
                <input class="form-control" type="text" name="avatar" id="avatar" placeholder="Avatar URL">
                <label class="text-nowrap overflow-auto" id="avatarLabel" for="avatar">Avatar URL</label>
            </div>    

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck" name="avatarCheck" onchange="defaultAvatar(this)">
              <label class="custom-control-label" for="customCheck">Use default Avatar URL</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Sign up</button>

            <div>
                <a class="mt-5 mb-3 small" href="/campgrounds">Back to Campground's Page</a>
            </div>           
        </form>
    </div>    
</div>

<script>
  function defaultAvatar(object) {
    let avatarInput = document.getElementById("avatar");
    let avatarLabel = document.getElementById("avatarLabel");

    if(object.checked){
      avatarInput.disabled = true;
      avatarInput.value = "";
      avatarLabel.innerHTML = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJS3-GoTF9xqAIyRROWdTD8SUihnSdP5Ac2uPb6AzgGHHyeuuD";
    } else {
      avatarInput.disabled = false;
      avatarLabel.innerHTML = "Avatar URL";
    }  
  };
</script>
<%- include("partials/footer") %>