<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <form class="form" action="/reset/<%= token %>" method="POST">
            <legend class="mb-3">Reset Password</legend>
            <hr>
            <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="New password" required autofocus>
                <label for="password">New password</label>
            </div>   
            <div class="form-label-group">
                <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm password" required>
                <label for="confirm">Confirm password</label>
            </div>  
            <button class="btn btn-primary" type="submit">Update Password</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>